---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
    <!-- <span class="uppercase text-white bg-black px-2 py-1 font-medium"> antes de incluir cpnf de color 29:00 -->
    <span
        class="text-xl uppercase text-secondary bg-primary px-6 py-1 mb-9 font-medium"
    >
        Presentación de</span
    >
    <!-- <HeroLogo class="text-green-300" /> -->
    <HeroLogo class="text-primary" />
</section>
